.Body {
  border: 1px solid #ffffff;
  border-radius: 10px;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(39, 33, 66);
  max-width: 500px;
  margin: 30px auto;
}

.Body .btn {
  --bs-btn-color: #fff;
  --bs-btn-bg: #885df1;
  --bs-btn-border-color: #885df1;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #875df12c;
  --bs-btn-hover-border-color: #875df12c;
  --bs-btn-font-size: 15px;
  --bs-btn-padding-x: 10px;
  --bs-btn-padding-y: 6px;
}

.Body h1 {
  font-size: 23px;
  font-style: bold;
}

.Body img {
  position: relative;
  top: -10px;
}

.Body .unit {
  font-size: 13px;
  position: relative;
  top: -8px;
}

.Body .result {
  background: #875df12c;
  padding: 13px 10px;
  border-radius: 11px;
  margin-top: -10px;
  text-align: center;
}

.Body .ForecastMin {
  opacity: 80%;
}

.Body .ForecastIcon img {
  position: static;
  margin: 0 auto;
}
